<h2> Class Proficiencies </h2>
        <p>Armor: None</p>
        <p>Weapons: Simple weapons, shortswords</p>
        <p>Tools: Choose one type of artisan’s tools or one musical instrument</p>
        <p>Saving Throws: Strength, Dexterity</p>
        <p>Skills: Choose two from Acrobatics, Athletics, History, Insight, Religion, and Stealth</p>
        <br>
    <h2> Class Features </h2>
    <h3> Unarmored Defense </h3>
        <p>Beginning at 1st level, while you are wearing no armor and not wielding a shield, your AC equals 10 + your Dexterity modifier + your Wisdom modifier.<p>
        <br>
    <h3> Martial Arts <h3>
     <p> At 1st level, your practice of martial arts gives you mastery of combat styles that use unarmed strikes and monk weapons, which are shortswords and any simple melee weapons that don’t have the two- handed or heavy property. </p>
     <p> You gain the following benefits while you are unarmed or wielding only monk weapons and you aren’t wearing armor or wielding a shield: </p>
     <ul>
        <li> You can use Dexterity instead of Strength for the attack and damage rolls of your unarmed strikes and monk weapons. </li>
        <li> You can roll a d4 in place of the normal damage of your unarmed strike or monk weapon. This die changes as you gain monk levels, as shown in the Martial Arts column of Table: The Monk </li>
        <li> When you use the Attack action with an unarmed strike or a monk weapon on your turn, you can make one unarmed strike as a bonus action. <li>
        <li> For example, if you take the Attack action and attack with a quarterstaff, you can also make an unarmed strike as a bonus action, assuming you haven’t already taken a bonus action this turn. </li>
     </ul>
     <p> Certain monasteries use specialized forms of the monk weapons. </p>
     <p> For example, you might use a club that is two lengths of wood connected by a short chain (called a nunchaku) or a sickle with a shorter, straighter blade (called a kama). </p>
     <p> Whatever name you use for a monk weapon, you can use the game statistics provided for the weapon. </p>
