<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/{{style}}">
    <link rel='icon' href='./images/favicon.ico' type='image/x-icon'/>
    <title>D&D</title>
</head>
<body>
    
    <header class="flex flex-wrap">
        <h1 class="mx-8"> 
    <a href="/">Dungeons & Dragons Characters</a>
       </h1>
       <nav>
           <ul class="flex flex-wrap space-x-4">
           <li>
             <!-- Anchor element -->
             <a href="/login">Login</a>
           </li>
           <li>
             <a href="/dashboard">Dashboard</a>
           </li>
         </ul>
       </nav>
       </header>

 <main>
    <div>
     {{{body}}}
    </div>
 </main>

 

<!--ABOUT-->
<section id="about">
  
<footer>
  <h2> About</h2>
  <div>
  <p>An interactive web page to design your personal D&D avatars!</p>
   
    </div>
</footer>

</section>

</body>
</html>