
{{#if characters.length}}
<!--AVATARS-->
<section id="avatars">
  <div class="container">
    <h2>Your Characters!</h2>
   
  </div>
</section>
{{/if}}


<script src="./javascript/dash.js"></script>
