
{{#if characters.length}}
<!--AVATARS-->
<section id="avatars">
  <div class="container">
    <h2>Your Characters!</h2>
   
  </div>
</section>
{{/if}}

<div class="flex">
    <button type="submit" class="btn" id="new-btn"><a class="link" href="/dashboard/new"> New Character</a></button>
</div>

