<div class="card">
    <h3 class="card-header">New Post</h3>
    <form class="card-body new-character-form">
        <label for="char-name" class="form-label">Enter your name</label>
        <input id="char-name"name="char-name" type="text" class="form-input char-name"/>

        <label for="char-race" class="form-label">Choose your race</label>
        <select id="char-race" name="char-race">
            <option value="Dwarf">Dwarf</option>
            <option value="Elf">Elf</option>
            <option value="Halfling">Halfling</option>
            <option value="Human">Human</option>
            <option value="Dragonborn">Dragonborn</option>
            <option value="Gnome">Gnome</option>
            <option value="Half-Elf">Half-Elf</option>
            <option value="Half-Orc">Half-Orc</option>
            <option value="Tiefling">Tiefling</option>
        </select>

        <label for="char-class" class="form-label">Choose your class</label>
        <select id="char-class" name="char-class">
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Rogue">Rogue</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
            <option value="Wizard">Wizard</option>
        </select>

        <label for="char-str" class="form-label">Enter your Strength Score</label>
        <input id="char-str"name="char-str" type="text" class="form-input char-str"/>

        <label for="char-dex" class="form-label">Enter your Dexterity Score</label>
        <input id="char-dex"name="char-dex" type="text" class="form-input char-dex"/>

        <label for="char-con" class="form-label">Enter your Constitution Score</label>
        <input id="char-con"name="char-con" type="text" class="form-input char-con"/>

        <label for="char-int" class="form-label">Enter your Intelligence Score</label>
        <input id="char-int"name="char-int" type="text" class="form-input char-int"/>

        <label for="char-wis" class="form-label">Enter your Wisdom Score</label>
        <input id="char-wis"name="char-wis" type="text" class="form-input char-wis"/>

        <label for="char-cha" class="form-label">Enter your Charisma Score</label>
        <input id="char-cha"name="char-cha" type="text" class="form-input char-cha"/>

        <button type="submit" class="btn long-btn">Submit</button>
    </form>
</div>
