* {
    margin: 0;
    padding: 0;
}

body{

    background-color: rgb(94, 9, 9);
}
header {
        background-image: linear-gradient(0deg, rgb(94, 9, 9), rgba(255, 255, 255, 0.1)), url("../images/background-1.jpg");
        background-size: 1000px;
        height: 400px;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 20px 35px;  /*applies 20px to every side of teh box */
        background-color:#0b8f9e;
        font-family: Arial, Helvetica, sans-serif;
        }
header h1 {
    font-weight: bold;
    font-size: 32px;
    color: white;
    margin:0;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
    
}
header a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;

}
header nav {
    float:right; /*similar to text wrapping property in docs or word */
    margin: 7px 0; /* margin adds space to the top and bottom and 0 represents the spaces to the right and left */
    font-family: Arial, Helvetica, sans-serif;

    
}
header nav ul li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;

}
header nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}



.container  h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

footer {
    background:rgb(36, 1, 7);
    width:100%;
    padding: 40px 35px;
    margin-top: 500px;
  }
  footer h2 {
    color: rgb(151, 73, 73);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
  }
  
  footer p {
    color: rgb(196, 169, 169);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
  }
  











@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }